<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aamit.finalproject">

    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".GameViewActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="37f2ccb83c317fe02650a1ec6ccdc5706977aaa8" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>