<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amit_yoav.deep_diving">

    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >
        <!--<activity android:name=".SplashScreen"-->
            <!--android:screenOrientation="landscape">-->
        <!--</activity>-->
        <activity
            android:name="amit_yoav.deep_diving.MainActivity"
            android:parentActivityName="amit_yoav.deep_diving.SplashScreen"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="amit_yoav.deep_diving.GameViewActivity"
            android:parentActivityName="amit_yoav.deep_diving.MainActivity"
            android:screenOrientation="landscape" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="37f2ccb83c317fe02650a1ec6ccdc5706977aaa8" />
    </application>

</manifest>